<div class="newEventConfirmation">
    <h3>Do you want to make an appointment here?</h3>
    <form name="confirmationForm" id="confirmationForm" novalidate>
        <div class="form-group">
            <label for="Event name" class="col-sm-2 control-label">Your event name</label>
            <input type="text" ng-model="event.eventname" placeholder="Your event name" /><br />
            <label for="Event name" class="col-sm-2 control-label">Your event date and time</label>
            <input type="text" ng-model="event.datetime" placeholder="YYYY/mm/dd HH:MM" /><br />
            <input type="submit" ng-click="vm.confirm()" class="btn btn-primary" value="Confirm" />
            <input type="button" ng-click="vm.cancel()" class="btn btn-default" value="Cancel" />
        </div>
    </form>
</div>